{% extends "base.html" %}
{% block bodyBlock %}
<div class="container">
  <h1>Github User Finder</h1>
  <h1>Look up github users</h1>
  <p class="lead">You have successfully found a github user.</p>
</div>

<div class="container">
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <td>User Name</td>
      <td id="userName"></td>
    </tr>
    <tr>
      <td>User Id</td>
      <td id="userId"></td>
    </tr>
    <tr>
      <td>Avatar</td>
      <td id="avatar"></td>
    </tr>
    <tr>
      <td>Gravatar</td>
      <td id="gravatar"></td>
    </tr>
    <tr>
      <td>URL</td>
      <td id="url"></td>
    </tr>
    <tr>
      <td>Html URL</td>
      <td id="htmlurl"></td>
    </tr>
    <tr>
      <td>Followers URL</td>
      <td id="followersurl"></td>
    </tr>
    <tr>
      <td>Following URL</td>
      <td id="followingurl"></td>
    </tr>
    <tr>
      <td>Gists</td>
      <td id="gists"></td>
    </tr>
    <tr>
      <td>Starred</td>
      <td id="starred"></td>
    </tr>
    <tr>
      <td>Subscriptions</td>
      <td id="subscriptions"></td>
    </tr>
    <tr>
      <td>Organizations</td>
      <td id="organizations"></td>
    </tr>
    <tr>
      <td>Repos</td>
      <td id="repos"></td>
    </tr>
    <tr>
      <td>Events</td>
      <td id="events"></td>
    </tr>
    <tr>
      <td>Revieved</td>
      <td id="received"></td>
    </tr>
    <tr>
      <td>Type</td>
      <td id="type"></td>
    </tr>
    <tr>
      <td>Site Amdin</td>
      <td id="siteadmin"></td>
    </tr>
    <tr>
      <td>Name</td>
      <td id="name"></td>
    </tr>
    <tr>
      <td>Company</td>
      <td id="company"></td>
    </tr>
    <tr>
      <td>Blog</td>
      <td id="blog"></td>
    </tr>
    <tr>
      <td>Location</td>
      <td id="location"></td>
    </tr>
    <tr>
      <td>Email</td>
      <td id="email"></td>
    </tr>
    <tr>
      <td>Hireable</td>
      <td id="hireable"></td>
    </tr>
    <tr>
      <td>Bio</td>
      <td id="bio"></td>
    </tr>
    <tr>
      <td>Public Repos</td>
      <td id="publicrepos"></td>
    </tr>
    <tr>
      <td>Public Gists</td>
      <td id="publicgists"></td>
    </tr>
    <tr>
      <td>Followers</td>
      <td id="followers"></td>
    </tr>
    <tr>
      <td>Following</td>
      <td id="following"></td>
    </tr>
    <tr>
      <td>Created Date</td>
      <td id="createdat"></td>
    </tr>
    <tr>
      <td>Updated Date</td>
      <td id="updatedat"></td>
    </tr>
  <table>
</div>

<a href="javascript:history.go(-1)" class="btn btn-lg btn-default">Back</a>

{% endblock bodyBlock %}

